@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
* {
  margin: 0%;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  min-height: 100vh;
}

.App {
  background-image: url("./images/waves.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#posts-list {
  max-width: 600px;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 4rem;
}
@media only screen and (max-device-width: 625px) {
  #posts-list {
    box-shadow: none;
  }
}
#posts-list h2 {
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
}
#posts-list h2 .first-block,
#posts-list h2 .second-block {
  display: inline-block;
  padding: 10px;
  color: white;
}
#posts-list h2 .first-block {
  transform: translateY(10px);
  background-color: #0793e3;
}
#posts-list h2 .second-block {
  transform: translateY(-10px);
  background-color: #9bd4f4;
}
#posts-list h2 .top-secret {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: inline-block;
  font-family: "Rubik Distressed", cursive;
  font-size: 1.4rem;
  color: red;
  border: 3px solid red;
  padding: 2px;
  border-radius: 2px;
  transform: rotate(-20deg);
}
#posts-list article {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
#posts-list article h3 {
  margin-bottom: 1rem;
}
#posts-list article #author {
  text-align: end;
  font-style: italic;
}

#post-form {
  max-width: 600px;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 2rem;
}
@media only screen and (max-device-width: 625px) {
  #post-form {
    box-shadow: none;
    background: transparent;
  }
}
#post-form h2 {
  margin-bottom: 2rem;
  text-align: center;
}
#post-form form {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#post-form form label {
  margin-bottom: 0.5rem;
}
#post-form form input,
#post-form form textarea,
#post-form form select {
  outline: rgba(255, 255, 255, 0.6) solid 1px;
  background-color: rgba(255, 255, 255, 0.477);
  margin-bottom: 2rem;
  border-radius: 2px;
}
@media only screen and (max-device-width: 625px) {
  #post-form form input,
#post-form form textarea,
#post-form form select {
    outline: #63b6ff;
    border: 1px solid #a7d0f4;
  }
}
#post-form form input,
#post-form form select {
  height: 2rem;
}
#post-form form button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.7rem 1.5rem;
  background-color: #37a2e5;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 2px;
  transition: all 0.4s ease;
  box-shadow: 6px 6.7px 5.1px -4px rgba(0, 0, 0, 0.028), 20.1px 22.3px 17.2px -4px rgba(0, 0, 0, 0.042), 90px 100px 77px -4px rgba(0, 0, 0, 0.07);
}
#post-form form button:hover {
  background-color: #0793e3;
}
#post-form form button:disabled {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.reaction-buttons {
  display: flex;
  gap: 1rem;
}
.reaction-buttons .reaction-button {
  background: transparent;
  cursor: pointer;
}

@-webkit-keyframes textTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-background .popup {
  width: 25%;
  min-width: 300px;
  padding: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: height 0.25s ease-in;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.popup-background .popup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation-name: textTransition;
          animation-name: textTransition;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.popup-background .popup form input {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  line-height: 2rem;
  transition: all 400ms ease;
  background: transparent;
}
.popup-background .popup form input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
.popup-background .popup form .error {
  min-height: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: red;
}
.popup-background .popup form button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.7rem 1.5rem;
  background-color: #37a2e5;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 2px;
  transition: all 0.4s ease;
  box-shadow: 6px 6.7px 5.1px -4px rgba(0, 0, 0, 0.028), 20.1px 22.3px 17.2px -4px rgba(0, 0, 0, 0.042), 90px 100px 77px -4px rgba(0, 0, 0, 0.07);
  margin-bottom: 1rem;
}
.popup-background .popup form button:hover {
  background-color: #0793e3;
}
.popup-background .popup form span {
  display: block;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
}
.popup-background .popup form span:hover {
  color: rgba(0, 0, 0, 0.6);
}/*# sourceMappingURL=style.css.map */