@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0%;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  min-height: 100vh;
}

.App {
  margin: 2rem auto;
  position: relative;
}

#posts-list {
  max-width: 600px;
  margin: auto;
}
#posts-list h2 {
  margin-bottom: 2rem;
  text-align: center;
}
#posts-list article {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
#posts-list article h3 {
  margin-bottom: 1rem;
}
#posts-list article #author {
  text-align: end;
  font-style: italic;
}

#post-form {
  max-width: 600px;
  margin: auto;
}
#post-form h2 {
  margin-bottom: 2rem;
  text-align: center;
}
#post-form form {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#post-form form input,
#post-form form textarea,
#post-form form select {
  outline: black solid 1px;
  margin-bottom: 2rem;
}
#post-form form button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  margin: 0 auto;
}
#post-form form button:hover {
  background-color: aliceblue;
}

.reaction-buttons {
  display: flex;
  gap: 1rem;
}
.reaction-buttons .reaction-button {
  background: white;
  cursor: pointer;
}

@-webkit-keyframes textTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-background .popup {
  width: 25%;
  min-width: 300px;
  padding: 4rem;
  height: auto;
  border: 2px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: height 0.25s ease-in;
}
.popup-background .popup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation-name: textTransition;
          animation-name: textTransition;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.popup-background .popup form input {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #bfbfbf;
  line-height: 2rem;
  transition: all 400ms ease;
}
.popup-background .popup form input:focus {
  border-bottom: 2px solid #7b7b7b;
}
.popup-background .popup form button {
  margin: 0 auto 2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 400ms ease;
}
.popup-background .popup form button:hover {
  background: #f0f8ff;
}
.popup-background .popup form button:active {
  box-shadow: none;
}
.popup-background .popup form span {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #bfbfbf;
  transition: all 400ms ease;
}
.popup-background .popup form span:hover {
  color: #7b7b7b;
}/*# sourceMappingURL=style.css.map */